.example-card {
  width: 100%; 
  height: auto;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 300px); 
  justify-content: center;
  gap: 25px;
  padding: 25px;
}

.example-card .mat-mdc-card-header-text {
  align-items: flex-start;
  text-align: left; /* Garante o alinhamento do texto também */
}

.example-card img[mat-card-image] {
  height: 180px;
  object-fit: contain;
  background-color: #e3f2fd; 
}

@media (max-width: 1024px) {
  .card-container {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}

@media (max-width: 600px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}