<section class="card-container">
  <mat-card *ngFor="let dia of previsoesInput.days" class="example-card" appearance="outlined">
    <img mat-card-image [src]="dia.conditions | weatherImage" alt="Ícone do tempo">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      
      <mat-card-title>{{ previsoesInput.resolvedAddress }} - {{ previsoesInput.timezone }}<br></mat-card-title>
      <mat-card-subtitle><br>{{ dia.datetime | date:'dd/MM/yyyy' }} ({{ dia.datetime | date:'EEEE' }})</mat-card-subtitle>
    
    </mat-card-header>
    <mat-card-content>
     <br> Previsão: <strong>{{ dia.conditions | traduzirCondicao}}</strong> <br>
      Máxima: <strong>{{ dia.tempmax }} °C</strong> <br>
      Mínima: <strong>{{ dia.tempmin }} °C</strong> <br>
      Humidade: <strong>{{ dia.humidity }} %</strong>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Detalhes</button>
      <button mat-button>Compartilhar</button>
    </mat-card-actions>
  </mat-card>
</section>