main {
  min-height: 100vh; 
  background: linear-gradient(to bottom, #87CEEB, #E0F7FA);
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.search_container{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.search{
    width: 50%;
}

.results_container{
    display: flex;
    justify-content: center;
}

.results{
  width: 90%;
}

