.search-input{
    display: flex;
    justify-content: center;
}

.example-full-width{
    min-width: 60%;
    padding-top: 30px;
}

.button-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    margin-top: 10px;
    min-width: 18%;
}

.days-selector{
    width: 100%;
    padding-top: 30px;
    padding-left: 30px;
}


img{
    height: 14vh;
    min-width: 14vh;
    display: block;       
    margin: 0 auto;
}