<img src="assets/images/weather.png" alt="">
<div class="search-input">

    <mat-form-field class="example-full-width">
        <mat-label>Cidade</mat-label>
        <input matInput placeholder="Ex. Ubá" [(ngModel)]="cidade">
    </mat-form-field>

    <mat-form-field class="days-selector">
  <mat-label>Escolha quantos dias</mat-label>
  <mat-select  [(ngModel)]="diasSelecionados">
    <mat-option value="1">1 dia(s)</mat-option>
    <mat-option value="2">2 dia(s)</mat-option>
    <mat-option value="3">3 dia(s)</mat-option>
    <mat-option value="4">4 dia(s)</mat-option>
    <mat-option value="5">5 dia(s)</mat-option>
    <mat-option value="6">6 dia(s)</mat-option>
    <mat-option value="7">7 dia(s)</mat-option>
  </mat-select>
</mat-form-field>
</div>

<div class="button-div"><button matFab extended (click)="onPesquisarClick()" >
        Pesquisar
        <mat-icon iconPositionEnd>search</mat-icon>
    </button>
</div>